.pagination {
    margin: 30px auto;
    li {
      display: inline-block;
  
      a {
        text-align: center;
        width: 45px;
        line-height: 42px;
        height: 45px;
        border: 1px solid rgb(117, 117, 117);
        border-radius: 30px;
        margin-right: 10px;
        cursor: pointer;
        display: inline-block;
        color: rgb(117, 117, 117);
  
        &:hover {
          background-color: rgb(117, 117, 117);
          color: #fff;
        }
      }
    }
  
    :global {
      .selected {
        a {
          background-color: rgb(117, 117, 117);
          color: #fff;
        }
      }
    }
  }